/* Variables */
:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --blue: #81B3D2;
  --medium-blue: #669EC0;
  --dark-blue: #5496BD;
  --silver: #EEEEEE;
  --dark-silver: #B3B3B3;
  --brown: #766357;
  --dark-gray: #231F20;
  --dark-white: #F2F2F2;
  --light-black: #333333;
  --basic-gray: #666666;
  --text-blue: #639FC3;
  --hover-brown: #604E43;
  --active-brown: #503E33;
  --brown-text: #A9A19B;
  --metalic: #BDBBBC;
  --narrow-silver: #CACACA;
  --checkbox-gray: #6a6a6a;
}

body {
  min-width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

/* Form */
.form {
  display: none;
}

/* Main navigation */
.site-navigation {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
  padding-left: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Main navigation style link */

.site-navigation {
  list-style: none;
}

.menu:link {
  color: var(--basic-black);
}

.menu:hover {
  color: var(--blue);
}

.menu:visited {
  color: var(--dark-silver);
}

.menu:active {
  color: var(--brown);
}

/* Content */

.sedona-text-item {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
}

.reasons-text-item {
  font-size: 14px;
  line-height: 26px;
  color: var(--light-black);
  margin: 0;
  padding: 0;
}

.interested-text-item {
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  color: var(--light-black);
}

.travel-date-text-item {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  color: var(--light-black);
  text-align: center;
}

.icons {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0px;
  padding: 0px; 
}

/* House item with description */

.house-icon {
  display: flex;
  padding-top: 60px;
  margin: 0 auto;
}

.house-text {
  padding-top: 28px;
  text-align: center;
  margin: 0;
}

.house-description-text {
  max-width: 254px;
  padding-top: 25px;
  text-align: center;
  margin: 0 auto;
}

/* Burger item with description */

.burger-icon {
  display: flex;
  padding-top: 61px;
  margin: 0 auto;
}

.burger-text {
  padding-top: 29px;
  text-align: center;
  margin: 0;
}

.burger-description {
  max-width: 297px;
  padding-top: 25px;
  text-align: center;
  margin: 0 auto;
}

/* Gift item with description */

.gift-icon {
  display: flex;
  padding-top: 56px;
  margin: 0 auto;
}

.gift-text {
  padding-top: 28px;
  text-align: center;
  margin: 0;
}

.gift-description {
  max-width: 270px;
  padding-top: 25px;
  text-align: center;
  margin: 0 auto;
}

/* Small square with description */

.small-square {
  max-width: 119px;
  padding-top: 47px;
  margin: 0 auto;
  text-align: center;
}

.small-square-description {
  max-width: 250px;
  padding-top: 23px;
  text-align: center;
  margin: 0 auto;
}

.sedona-not-boring {
  max-width: 265px;
  padding-top: 23px;
  text-align: center;
  margin: 0 auto;
}

.gray-line-features {
  min-height: 256px;
}

.gray-background {
  background-color: var(--silver);
}
.city {
  background-color: var(--blue);
  text-align: center;
}

.subtitle-white {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-white);
}

.text-white {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
}

.text-white-subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
}

.subtitle-black {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black); 
}

.text-black {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-black);
}

.sort {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
}

/* Feature */

.feature-item {
  text-align: center;
}

/* Footer */

.contacts {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

/* Social button */

.social-button {
  list-style: none;
  text-align: center;
}

.sort-items {
  list-style: none; 
}

.social-items:link {
  background-color: var(--blue);
}
.social-items:hover {
  background-color: var(--medium-blue);
}
.social-items:active {
  background-color: var(--dark-blue);
}

.website {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}

.academy:link path {
  fill: var(--dark-gray);
}

.academy:hover path {
  fill: var(--blue);
}

.academy:active path {
  fill: var(--metalic);
}

.option:link {
  color: var(--basic-black);
  opacity: 0.3;
  border-bottom: 1px dotted;
  border-color: var(--blue);
}

.option:hover {
  color: var(--blue);
  opacity: 1;
  border-bottom: 1px dotted;
  border-color: var(--blue);
}

.option:active {
  color: var(--basic-black);
  border: none;
}
.option:visited {
  color: var(--blue);
  border: none;
}

.hotel-name:link {
  color: var(--basic-black);
}

.hotel-name:hover {
  color: var(--blue);
}

.hotel-name:active .hotel-text {
  color: var(--basic-black);
  opacity: 0.3;
}

/* up & down Narrows */

.narrow:link path {
  fill: var(--narrow-silver);
}

.narrow:hover path {
  fill: var(--basic-black);
}

.narrow:active path {
  fill: var(--blue);
}

.narrow:visited path {
  fill: var(--blue);
}

/* Buttons */
.more-info {
  width: 110px;
  min-height: 27px;
  color: var(--basic-white);
  background-color: var(--blue);
}

.show-button {
  font-size: 14px;
  line-height: 21px;
  width: 137px;
  min-height: 36px;
  color: var(--basic-white);
  border: 2px solid;
  border-color: var(--basic-white);
  border-radius: 2px;
}

.show-button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/* Checkbox */

.book {
  min-width: 142px;
  color: var(--basic-white);
  background-color: var(--brown);
  margin-left: 6px;
}

.mark {
  padding: 0;
  margin: 0;
  height: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
}  

.more-info:hover {
  background-color: var(--medium-blue);
}

.more-info:active {
  background-color: var(--dark-blue);
  color: var(--text-blue);
}

.book:hover {
  background-color: var(--hover-brown) ;
}

.book:active {
  background-color: var(--active-brown) ;
  color: var(--brown-text);
}

/* Wrapper */
.wrapper {
  margin: 0 auto;
  background-color: white;
  width: 1200px;
  outline: 5px solid rgba(10, 206, 157, 0.3);
  outline-offset: -5px; 
}

/* Grid */

.page {
  height: 100%;
  background-color: var(--basic-white);
}

.page-body {
  min-height: 100%;
  width: 1280px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  background-color: var(--dark-white);
}

/* LOGO */

.main-navigation {
  position: relative;
}

.main-header-logo {
  display: inline-block;
  position: absolute;
  top: 0; 
  left: 45%;
  transform: translateX(-50%);
  transform: translateY(-20%);
  z-index: 1;
}

/* Main navigation */
.site-navigation li {
  width: 20%;
  text-align: center;
  box-sizing: border-box;
}

.site-navigation li:nth-child(4n+2) {
  margin-right: 20%;
}

.main-poster {
  position: relative;
  width: 100%;
  background-image: url(../img/Shape.svg);
  background-color: red;
}

.wonderful-sedona {
  padding-top: 42px;
  margin-bottom: 33px;
  margin: 0 auto;
  max-width: 519px;
  outline: 5px solid rgba(10, 206, 157, 0.3);
  outline-offset: -5px; 
}

.real-town {
  display: grid;
  grid-template-columns: auto 800px;
  margin-top: 51px;
}

.true-city {
  max-width: 149px;
  padding-top: 47px;
  margin: 0 auto;
}

.numero {
  max-width: 51px;
  padding-top: 25px;
  margin: 0 auto;
}

.live-goes-on {
  max-width: 301px;
  padding-top: 23px;
  margin: 0 auto;
}

.bridge-text {
  max-width: 149px;
  padding-top: 50px;
  margin: 0 auto;
}

.devil-bridge {
  margin-top: 81px;
  display: grid;
  grid-template-columns: 800px auto;
}

.interested {
  width: 435px;
  padding-top: 58px;
  margin: 0 auto;
  outline: 5px solid rgba(10, 206, 157, 0.3);
  outline-offset: -5px; 
}

/* Map picture */

.map {
  position: relative;
}

.map-picture {
  margin-top: 137px;
  position: relative;
}

/* Footer */

.page-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: absolute;
  background-color: var(--basic-white);
  opacity: 0.9;
  width: 1200px;
  height: 120px;
  /* top: 2695px; */
  outline: 5px solid rgba(10, 206, 157, 0.3);
  outline-offset: -5px; 
}

.visit {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 23px;
  margin: 0 auto;
}

.tel {
  display: flex;
  flex-direction: column;
  padding-top: 9px;
  align-items: center;
}

/* Social button */

.social-button {
  display: grid;
  grid-template-columns: 46px 46px 46px;
  grid-column-gap: 6px;
  margin: 0 auto;
  padding-top: 36px;
  justify-content: center;
}

.twitter {
  width: 46px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
}

.facebook {
  width: 46px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
}

.youtube {
  width: 46px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
}

.copyright {
  display: flex;
  margin: 0 auto;
  padding-top: 39px;
}

.academy {
  margin-left: 8px;
}

/* Hotels */

.infrastructure {
  list-style: none;
}

.hotel-list {
  display: grid;
  grid-template-columns: 527px 527px;
  padding-left: 73px;
  padding-right: 73px;
  margin: 0 auto;
  list-style: none;
}

.hotels-main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 150px;
}

.hotel-name {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.hotel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 14px;
  line-height: 21px;
  color: var(--light-black);
}

.housing {
  padding-top: 30px;
  margin: 0;
}

.hotel-text {
  padding-top: 23px;
  margin: 0;
}

.price {
  margin-left: 9px;
}

.hotel-description {
  margin: 0;
  padding-left: 29px;
}

/* Rating */

.rating {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.rating-number {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 47px;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-gray);
  width: 110px;
  min-height: 27px;
  background-color: var(--dark-white);
  background-size: 27px;
}

.rating-star {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.star-pic {
  margin-top: 29px; 
}

.stick {
  margin-left: -73px;
}

.stick1 {
  margin-left: -600px;
}