/* Variables */
:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-blue: #81B3D2;
  --basic-gray: #EEEEEE;
  --basic-brown: #766357;
  --basic-academy: #231F20;
  --basic-form: #F2F2F2;
  --basic-reason: #333333;
  --basic-reating: #666666;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

/* Form */
.form {
  display: none;
}

/* Main navigation */
.main-navigation {
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-white);
  background-color: transparent;
}

.site-navigation {
  list-style: none;
}
/* Не нашел описания поведения кнопок меню при наведении и клике на них */
.site-navigation-current a:not([href]) {
  background-color: var(--basic-black);
}
.site-navigation a:hover,
.site-navigation a:focus {
  background-color: red;
}

.main-navigation-wrapper {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
  text-transform: uppercase;
}

.sedona-text-item {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
}

.reasons-text-item {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-reason);
  text-transform: uppercase;
  background-color: var(--basic-white);
}

.interested-text-item {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  color: var(--basic-reason);
  text-transform: uppercase;
  background-color: var(--basic-white);
}

.travel-date-text-item {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-reason);
  text-transform: uppercase;
  background-color: var(--basic-white);
}

/* Feature */

.features-list {
  list-style: none;
}

.feature-item {
  text-align: center;
}

/* Footer */

.visit {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.tel {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-black);
}

/* Social button */

.social-button {
  text-align: center;
}

.social-button {
  list-style: none;
}

.facebook {
  background-color: var(--basic-blue);
}

.twitter {
  background-color: var(--basic-blue);
}

.youtube {
  background-color: var(--basic-blue);  
}

.website {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-black);
  text-align: right;
}
/* Hotel.html */
.hotel-list {
  list-style: none;
}

.hotel-name {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.hotel, .price {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-reason);
}

/* Buttons */
.more-info {
  width: 110px;
  height: 27px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.book {
  width: 142px;
  height: 27px;
  color: var(--basic-white);
  background-color: var(--basic-brown);
}
/* Не срабатывают вложенные теги, скорее всего что-то не верно прописал */
.hotel b {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

/* Rating */
.rating {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-reating);
  width: 110px;
  height: 27px;
  background-color: var(--basic-form);
  text-align: center;
}