/* Variables */
:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --blue: #81B3D2;
  --medium-blue: #669EC0;
  --dark-blue: #5496BD;
  --silver: #EEEEEE;
  --dark-silver: #B3B3B3;
  --brown: #766357;
  --dark-gray: #231F20;
  --dark-white: #F2F2F2;
  --light-black: #333333;
  --basic-gray: #666666;
  --text-blue: #639FC3;
  --hover-brown: #604E43;
  --active-brown: #503E33;
  --brown-text: #A9A19B;
  --metalic: #BDBBBC;
  --narrow-silver: #CACACA;
  --checkbox-gray: #6a6a6a;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

/* Form */
.form {
  display: none;
}

/* Main navigation */
.site-navigation {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}

/* Main navigation style link */

.site-navigation {
  list-style: none;
}

.menu:link {
  color: var(--basic-black);
}

.menu:hover {
  color: var(--blue);
}

.menu:visited {
  color: var(--dark-silver);
}

.menu:active {
  color: var(--brown);
}

/* Content */

.sedona-text-item {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.reasons-text-item {
  font-size: 14px;
  line-height: 26px;
  color: var(--light-black);
}

.interested-text-item {
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  color: var(--light-black);
}

.travel-date-text-item {
  font-size: 14px;
  line-height: 24px;
  color: var(--light-black);
}

.icons {
  list-style: none; 
}

.gray-background {
  background-color: var(--silver);
}
.city {
  background-color: var(--blue);
}

.subtitle-white {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-white); 
}

.text-white {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
}

.text-white-subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
}

.subtitle-black {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black); 
}

.text-black {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-black);
}

.sort {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
}

/* Feature */

.feature-item {
  text-align: center;
}

/* Footer */

.contacts {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

/* Social button */

.social-button {
  text-align: center;
}

.social-button {
  list-style: none;
}

.sort-items {
  list-style: none;
}

.social-button {
  background-color: var(--blue);  
}

.social-items:link {
  background-color: var(--blue);
}
.social-items:hover {
  background-color: var(--medium-blue);
}
.social-items:active {
  background-color: var(--dark-blue);
}

.website {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}

.academy:link path {
  fill: var(--dark-gray);
}

.academy:hover path {
  fill: var(--blue);
}

.academy:active path {
  fill: var(--metalic);
}

/* Hotel.html */
.hotel-list {
  list-style: none;
}

.infrastructure {
  list-style: none;
}

.hotel-name {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.hotel {
  font-size: 14px;
  line-height: 21px;
  color: var(--light-black);
}

.option:link {
  color: var(--basic-black);
  opacity: 0.3;
  border-bottom: 1px dotted;
  border-color: var(--blue);
}

.option:hover {
  color: var(--blue);
  opacity: 1;
  border-bottom: 1px dotted;
  border-color: var(--blue);
}

.option:active {
  color: var(--basic-black);
  border: none;
}
.option:visited {
  color: var(--blue);
  border: none;
}
/* Пропадает курсор мыши при наведении */
.hotel-name:link {
  color: var(--basic-black);
}

.hotel-name:hover {
  color: var(--blue);
}

.hotel-name:active {
  color: var(--basic-black);
  opacity: 0.3;
}

/* up & down Narrows */

/* Не сообразил почему не получается передать серый цвет когда ссылка в покое */
.narrow:link path {
  fill: var(--narrow-silver);
}

.narrow:hover path {
  fill: var(--basic-black);
}

.narrow:active path {
  fill: var(--blue);
}

.narrow:visited path {
  fill: var(--blue);
}

/* Buttons */
.more-info {
  width: 110px;
  min-height: 27px;
  color: var(--basic-white);
  background-color: var(--blue);
}

.show-button {
  font-size: 14px;
  line-height: 21px;
  width: 137px;
  min-height: 36px;
  color: var(--basic-white);
  border: 2px solid;
  border-color: var(--basic-white);
  border-radius: 2px;
}

.show-button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/* Checkbox */



.book {
  width: 142px;
  height: 27px;
  color: var(--basic-white);
  background-color: var(--brown);
}

.mark {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
}  

.more-info:hover {
  background-color: var(--medium-blue);
}

.more-info:active {
  background-color: var(--dark-blue);
  color: var(--text-blue);
}

.book:hover {
  background-color: var(--hover-brown) ;
}

.book:active {
  background-color: var(--active-brown) ;
  color: var(--brown-text);
}

/* Rating */
.rating {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-gray);
  width: 110px;
  height: 27px;
  background-color: var(--dark-white);
  text-align: center;
}